{% extends "base.twig" %}

{% block content %}
<article class="post-type-{{post.post_type}} article-content" id="post-{{post.ID}}">

	<div class="title-header dark-blue">
		<div class="grid-container">
			<div class="grid-x grid-margin-x">
				<h1 class="article-h1">{{post.title}}</h1>
				<a href="https://donate.giveasyoulive.com/donate?cid=118485&utm_campaign=CTDonateButton&utm_content=118485&utm_source=charitytoolkit&utm_medium=charitydonatebutton&wl=1&br=22&bc=efff00" target="_blank"><img src="https://resources.giveasyoulive.com/images/donations/button-rect-donate-pink.png?cid=118485" alt="Donate through Give as you Live Donate" width="auto" /></a>
			</div>
		</div>
	</div>

	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-12">
				<section class="article-body">
					{{post.content}}
				</section>
			</div>
		</div>
	</div>

	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell large-12">
				<section class="article-body full-width-widgets">
					{{ page_right_small }}
					{{ page_right }}
				</section>
			</div>
		</div>
	</div>


</article>
{% endblock %}