{% if menu %}
<nav id="nav-main" class="navbar">
	<ul class="main-nav">
		{% for item in menu %}
		<li class="nav-main-item {{ item.classes|join(' ') }} {{item.slug}}">
			<a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
			{% if item.children %}
			<div class="dropdown-row">
				<div class="dropdown-content">
					{% if item.title == 'MhIST' %}
					<h3>Latest News and Information about MhIST.</h3>
					{% endif %}
					{% if item.title == 'What is Mental Health?' %}
					<h3>Find lots of useful information about Mental Health.</h3>
					{% endif %}
					{% if item.title == 'Projects and Services' %}
					<h3>Our latest {{item.title}}</h3>
					{% endif %}
					{% if item.title == 'Group Activities' %}
					<h3>Find out about our {{item.title}} we run at MhIST</h3>
					{% endif %}
					{% if item.title == 'One to One Support' %}
					<h3>Find out about how our {{item.title}} services can help you.</h3>
					{% endif %}
					{% if item.title == 'Useful Information and Resources' %}
					<h3>Useful links and information we think you'll appreciate.</h3>
					{% endif %}
					{% if item.title == 'Support Us' %}
					<h3>{{item.title}} at MhIST by donating, volunteering or fundraising.</h3>
					{% endif %}
					{% if item.title == 'Contact Us' %}
					<h3>Get in touch with us or find us on Social Media.</h3>
					{% endif %}
					<ul>
						{% for child in item.children %}
						<li class="nav-drop-item">
							<a href="{{ child.link }}">{{ child.title }}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>

			{% endif %}
		</li>
		{% endfor %}
	</ul>
</nav><!-- #nav -->
<div class="mobile-nav">
	<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
		<button class="menu-icon" type="button" data-toggle="example-menu" title="MENU">Menu</button>
	</div>
	<div class="top-bar" id="example-menu">
		<div class="top-bar-left">
			<ul class="vertical menu" data-responsive-menu="drilldown medium-accordion">
				{% for item in menu %}
				<li><a class="nav-mobile-link" href="{{ item.link }}">{{ item.title }}</a>
					{% if item.children %}
					<ul class="menu vertical">
						{% for child in item.children %}
						<li>
							<a href="{{ child.link }}">{{ child.title }}</a>
						</li>
						{% endfor %}
					</ul>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endif %}