{% if menu %}
<nav id="nav-main" class="navbar">
	<ul class="main-nav">
		{% for item in menu %}
		<li class="nav-main-item {{ item.classes|join(' ') }} {{item.slug}}">
			<a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
			{% if item.children %}
			<div class="dropdown-row">
				<div class="dropdown-content">
					{% if item.title == 'Information' %}
					<h3>Check out the latest {{item.title}} from MhIST</h3>
					{% endif %}
					{% if item.title == 'Support Groups' %}
					<h3>Find out about our Self Help {{item.title}} we run at MhIST</h3>
					{% endif %}
					{% if item.title == 'Advocacy' %}
					<h3>Find out about how our Advocacy service can help you.</h3>
					{% endif %}
					{% if item.title == 'Talk Therapy Service' %}
					<h3>Find out about what Talk Therapy is all about and how it helps.</h3>
					{% endif %}
					{% if item.title == 'Get Involved' %}
					<h3>{{item.title}} with MhIST by donating, volunteering or fundraising.</h3>
					{% endif %}
					<ul>
						{% for child in item.children %}
						<li class="nav-drop-item">
							<a href="{{ child.link }}">{{ child.title }}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>

			{% endif %}
		</li>
		{% endfor %}
	</ul>
</nav><!-- #nav -->
<div class="mobile-nav">
	<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
		<button class="menu-icon" type="button" data-toggle="example-menu" title="MENU">Menu</button>
	</div>
	<div class="top-bar" id="example-menu">
		<div class="top-bar-left">
			<ul class="vertical menu" data-responsive-menu="drilldown medium-accordion">
				{% for item in menu %}
				<li><a class="nav-mobile-link" href="{{ item.link }}">{{ item.title }}</a>
					{% if item.children %}
					<ul class="menu vertical">
						{% for child in item.children %}
						<li>
							<a href="{{ child.link }}">{{ child.title }}</a>
						</li>
						{% endfor %}
					</ul>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endif %}