{% extends "base.twig" %}

{% block content %}
<article class="post-type-{{post.post_type}} article-content" id="post-{{post.ID}}">

	<div class="title-header dark-blue">
		<div class="grid-container">
			<div class="grid-x grid-margin-x">
			    {% if post.preview is empty %}<h1 class="article-h1 no-p">{{post.title}}</h1>{% endif %}
				{% if post.preview is not empty %}
				<h1 class="article-h1">{{post.title}}</h1>
				<p class="article-p">{{post.preview.read_more(FALSE)}}</p>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="grid-container">
		
			{% if post.thumbnail.src is not empty %}
				<img src="{{ post.thumbnail.src|resize(1200, 375) }}" alt="Image" class="page-header-image">
			{% endif %}	
			<div class="grid-x grid-margin-x">
			<div class="cell large-8">
				<section class="article-body">
					{{post.content}}
				</section>
			</div>

			<div class="cell large-3 large-offset-1">
				{{ page_right_small }}
				{{ page_right }}
			</div>
		</div>

	</div>


</article>
{% endblock %}