{% extends "base.twig" %}

{% block content %}
<div class="content-wrapper">
    <article class="post-type-{{post.post_type}} article-content" id="post-{{post.ID}}">

        <div class="title-header dark-blue">
            <div class="grid-container">
                <div class="grid-x grid-margin-x">
                    <h1 class="article-h1">{{post.title}}</h1>
                    <p class="article-p"><strong>MhIST's Supporters &amp; Sponsors</strong><br />
                        {{post.preview.read_more(FALSE)}}</p>
                </div>
            </div>
        </div>

        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell large-12">
                    <h2>A collection of Your Stories</h2>
                    <div class="grid-container">
                        <div class="grid-x grid-margin-x">
                            {% for post in your_stories %}
                            <div class="cell large-6">
                                <article class="tease tease-{{post.post_type}}" id="tease-{{post.ID}}">
                                    <h3><a href="{{post.link}}">{{post.title}}</a></h3>
                                    {% if post.get_thumbnail %}
                                    <img src="{{post.thumbnail.src}}" alt="Image" />
                                    {% endif %}
                                    <p>{{post.preview}}</p>
                                </article>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </article>
</div><!-- /content-wrapper -->
{% endblock %}