{% extends "base.twig" %}

{% block content %}
<article class="post-type-{{ post.post_type }} article-content" id="post-{{ post.ID }}">
	<div class="title-header dark-blue">
		<div class="grid-container">
			<div class="grid-x grid-margin-x">
				<h1 class="article-h1">{{post.title}}</h1>
				<p class="article-p">{{post.preview.read_more(FALSE)}}</p>
			</div>
		</div>
	</div>
	<div class="grid-container">
		<section class="article-body">
			<div class="grid-x grid-margin-x">
				<div class="cell large-8">
					{% if post.thumbnail.src is not empty %}
						<img src="{{ post.thumbnail.src|resize(1200, 800) }}" alt="Image">
					{% endif %}	
					<p class="blog-author">
						<span>By</span><a href="{{post.author.path}}"> {{ post.author.name }}
						</a><span>&bull;</span>
						{{ post.date }}
					</p>
					<div class="article-body">
						{{post.content}}
					</div>
				</div>
				<div class="cell large-3 large-offset-1">
					{{page_right_small}}
					{{ page_right }}
				</div>
			</div>
		</section>
	</div>
</article>
{% endblock %}