{% extends "base.twig" %}

{% block content %}
<article class="post-type-{{ post.post_type }} article-content" id="post-{{ post.ID }}">

    <div class="grid-container">
        <section class="article-body">
            <div class="grid-x grid-margin-x">
                <div class="cell large-8">
                    <div class="article-body">
                        <h1>{{post.title}}</h1>
                        {{post.content}}
                    </div>
                </div>
                <div class="cell large-3 large-offset-1">
                    {{ page_right_small }}
                    {{ page_right }}
                </div>
            </div>
        </section>
    </div>

    <div class="grid-container">
        <h2>Other Frequenty Asked Questions Test</h2>
        <div class="grid-x grid-margin-x">
            <div class="large-12">
                <ul class="accordion" data-accordion data-multi-expand="true">
                    {% for post in advocacy_faq %}
                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">{{post.title}}</a>
                        <div class="accordion-content" data-tab-content>
                            <p>{{ post.content }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</article>
{% endblock %}